.pokedex {
  display: flex;
  width: 100%;
  height: 100%;
  @include flex-center;
  align-items: flex-end;
  padding: 60px;
  &__center {
    background-color: $dark-red;
    height: 80%;
    min-width: 4px;
  }
  &__left,
  &__right {
    background-color: $main-color;
    min-width: 300px;
    max-width: 300px;
    height: 90%;
  }
  &__left {
    border-radius: 30px 0px 0px 30px;
    height: 80%;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    @include flex-center;
    align-items: flex-end;
  }

  &__right {
    border-radius: 0px 30px 30px 0px;
    @include flex-center;
  }
}

.pokelist {
  background-color: white;
  @include flex-center;
  width: 80%;
  height: 70%;
  margin-bottom: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.pokecard {
  @include flex-center;
  flex-direction: column;
  background-color: #888ac5;
  margin: 5px;
  border-radius: 10px;
  padding-bottom: 10px;

  &__title {
    font-family: "Satisfy", cursive;
    color: $black;
    font-size: 14px;
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
  }
}

.pokescreen {
  width: 250px;
  height: 220px;
  background-color: white;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    100% 100%,
    75% 100%,
    20% 100%,
    0 80%
  );
  border-radius: 20px;
  @include flex-center;
  align-items: flex-start;

  &__display {
    margin-top: 30px;
    width: 90%;
    height: 60%;
    background-color: $display;
    border-radius: 10px;
    @include flex-center;
    flex-direction: column;
    padding: 10px;

    &__name {
      color: white;
      font-family: "Satisfy", cursive;
    }
    &__types {
      color: white;
      text-transform: uppercase;
      font-family: "Roboto", cursive;
      font-size: 10px;
      font-weight: bold;
    }
  }
}
